* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.nav-link:hover {
	color: #6B8D7D;
}

.container{
	background-color: bisque;
	display: flex;
	justify-content: space-evenly;
}

.card{
	background-color: #87B29E;
	color: white;
	margin: 6rem;
	padding: 2rem;
	display: flex;
	align-content: center;
	text-align: center;
}

.nav-link{
	color: white;
	background-color: #6B8D7D;
	margin: 0.5rem;
	border-radius: 25px;
}

#link{
	color: white;
}

.col-2{
	color: white;

}

.col-3{
	display: flex;
}

#header-link{
	color: #504D42;
	text-decoration: none;
	margin: 0.3rem;
	font-weight: bold;
}

#Logo{
	display:block;
	width: 8rem;

}
